/*
404.scss
SCSS file for 404 page
*/

// Import main SCSS
@import "main";

// Main section
section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    // Error text
    p.error {
        color: $c_dark-alt;
        cursor: default;
        font-size: 128pt;
        transition: $transition;

        &:hover {
            color: $c_accent;
        }
    }
}