// blog.pug
// Blog page template file

// HTML5 Stuff
doctype html
html(lang="en")

    // Head
    head
        include partials/head
        title jamie6king
        link(rel="stylesheet", href="/css/blog.css")

    // Body
    body

        // Navbar
        include partials/nav
        
        // Main
        div.scrollable

        // Sidebar
        div.sidebar