// projects-homepage.pug
// Project homepage template file

// HTML5 stuff
doctype html
html(lang="en")

    // Head
    head
        include partials/head
        title jamie6king
        link(rel="stylesheet", href="/css/404.css")

    // Body
    body

        // Navbar
        include partials/nav
        
        // Main
        div.scrollable
            section.center
                p No projects